# This is an example of how to use the Naive Bayes Classifier
This example uses the BBC news dataset in example_data folder

In [1]:
# Importing pandas for dataframe manuipulation
import pandas as pd

# Importing numpy for numerical operations
import numpy as np

# Importing Naive Bayes Classifier and Preprocessing modules
from nbclassifier.base_classifier import Classifier
from nbclassifier.naive_bayes_classifier import NaiveBayesClassifier
from nbclassifier.preprocessing import TextPreprocessor

import time
import warnings
warnings.filterwarnings("ignore")

### Loading the data

In [2]:
df_train = pd.read_csv("../example_data/train.csv")
df_test = pd.read_csv("../example_data/test.csv")

In [3]:
df_train.head()

   ArticleId                                               Text       Category
0       1976  lifestyle governs mobile choice faster better ...           tech
1       1797  french honour director parker british film dir...  entertainment
2       1866  fockers fuel festive film chart comedy meet fo...  entertainment
3       1153  housewives lift channel 4 ratings debut us tel...  entertainment
4        342  u2 desire number one u2 three prestigious gram...  entertainment

In [4]:
df_test.head()

   ArticleId                                               Text       Category
0       1821  johnny denise lose passport johnny vaughan den...  entertainment
1        522  bt offers free net phone calls bt offering cus...           tech
2        636  power people says hp digital revolution focuse...           tech
3        170  stars gear bafta ceremony film stars across gl...  entertainment
4         85  controversial film tops festival controversial...  entertainment

In [5]:
abstract_header = "Text"
class_header = "Category"
x_train = df_train[abstract_header]
y_train = df_train[class_header]
x_test = df_test[abstract_header]
y_test = df_test[class_header]

### Preprocessing the data

In [6]:
article_preprocessor = TextPreprocessor()
transformed_x_train = article_preprocessor.fit_transform(x_train)
transformed_x_test = article_preprocessor.transform(x_test)

### Training the model and predicting on test data

In [7]:
model = NaiveBayesClassifier()
model.train(transformed_x_train, y_train)

In [8]:
predictions = model.predict(transformed_x_test)
predictions

array(['entertainment', 'tech', 'tech', 'entertainment', 'entertainment',
       'entertainment', 'entertainment', 'tech', 'entertainment',
       'entertainment', 'entertainment', 'tech', 'entertainment',
       'entertainment', 'entertainment', 'entertainment', 'entertainment',
       'entertainment', 'tech', 'tech', 'entertainment', 'entertainment',
       'tech', 'entertainment', 'tech', 'entertainment', 'tech', 'tech',
       'entertainment', 'tech', 'entertainment', 'tech', 'tech', 'tech',
       'entertainment', 'tech', 'entertainment', 'tech', 'tech', 'tech',
       'tech', 'entertainment', 'entertainment', 'tech', 'entertainment',
       'entertainment', 'tech', 'entertainment', 'entertainment', 'tech',
       'tech', 'entertainment', 'entertainment', 'entertainment',
       'entertainment', 'tech', 'entertainment', 'tech', 'tech', 'tech',
       'tech', 'tech', 'tech', 'tech', 'entertainment', 'entertainment',
       'tech', 'entertainment', 'entertainment', 'tech', 'entertainment',
       'entertainment', 'tech', 'entertainment', 'entertainment',
       'entertainment', 'tech', 'entertainment', 'entertainment',
       'entertainment', 'entertainment', 'entertainment', 'tech', 'tech',
       'tech', 'tech', 'entertainment', 'entertainment', 'entertainment',
       'tech', 'entertainment', 'entertainment', 'entertainment', 'tech',
       'entertainment', 'tech', 'tech', 'tech', 'entertainment', 'tech',
       'tech', 'entertainment', 'entertainment', 'entertainment', 'tech',
       'tech'], dtype='<U13')

### Evaluating the model's predictions

In [9]:
np.sum(predictions == y_test)/len(predictions)

0.9716981132075472